.StyledLink {
    color: #FF6060;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding: 0 0 0 60px;
    
}

.StyledLink.active:hover {
    filter: brightness(0.9);
}

.StyledLink.active {
    text-decoration: underline;
}
 
.HeaderCtr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
 
.HomeLogo {
    width: 180px;
    
}