.FooterCtr {
    background-color: black;
    height: 210px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.Footer__Text {
    color: white;
    font-size: 18px;
    margin-top: 2rem;
  
}